/* As I Expected, To Me, CSS Using Frameworks Is That Good */
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;

    --main-transition-duration: 0.3s;
}

/* Start Box */
.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.d-grid {
    display: grid;
}

.gap-20 {
    gap: 20px;
}

.d-block {
    display: block;
}

@media (max-width: 767px) {
    .block-mobile {
        display: block;
    }

    .none-mobile {
        display: none;
    }
}
/* End Box */


/* Start Padding + Margin */
.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.m-0 {
    margin: 0;
}

.mt-20 {
    margin-top: 20px;
}

.mt-15 {
    margin-top: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-5 {
    margin-top: 5px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-10 {
    margin-right: 10px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}


.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-40 {
    margin-left: 40px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-40 {
    margin-right: 40px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-40 {
    margin-left: 40px;
}

.mt-0 {
    margin-top: 0;
}

/* End Padding + Margin */


/* Start Color */
.bg-white {
    background-color: white;
}

.bg-eee {
    background-color: #eee;
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-blue-alt {
    background-color: var(--blue-alt-color);
}

.bg-red {
    background-color: var(--red-color);
}

.bg-green {
    background-color: var(--green-color);
}

.bg-orange {
    background-color: var(--orange-color);
}

.c-black {
    color: black;
}

.c-grey {
    color: var(--grey-color);
}

.c-white {
    color: white;
}

.c-blue {
    color: var(--blue-color);
}

.c-orange {
    color: var(--orange-color);
}

.c-green {
    color: var(--green-color);
}

.c-red {
    color: var(--red-color);
}
/* End Color */


/* Start Position */
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}
/* End Position */


/* Start Font */
.txt-c {
    text-align: center;
}

.txt-l {
    text-align: left;
}

.txt-r {
    text-align: right;
}

@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
    
    .txt-l-mobile {
    text-align: left;
    }

    .txt-right-mobile {
        text-align: right;
    }
}

.none-decoration {
    text-decoration: none;
}

.del-decoration {
    text-decoration: line-through;
    opacity: 0.3;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-normal {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-25 {
    font-size: 25px;
}

.fs-30 {
    font-size: 30px;
}

.fs-35 {
    font-size: 35px;
}

.fs-40 {
    font-size: 40px;
}

.weight-normal {
    font-weight: normal;
}

.weight-500 {
    font-weight: 500;
}

.weight-bold {
    font-weight: bold;
}
/* End Font */

/* Start Border */
.border-eee {
    border: 1px solid #eee;
}

.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

.rad-half {
    border-radius: 50%;
}

.b-none {
    border: none;
    outline: none;
}
/* End Border */


/* Start Components */
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-centering {
    margin-left: auto;
    margin-right: auto;
}

.fixed-btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}

.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}
  
input.btn-shape:hover,
a.btn-shape:hover {
    transition: var(--main-transition-duration);
    background-color: var(--blue-alt-color);
}
/* End Components */